Repository ar90n/bookmarkdown: changes, and which Codecov flags are due for each by the changed paths.
All: core, react

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  core:
    paths:
      - web/src/lib/core/
      - web/src/lib/adapters/
      - web/src/lib/parsers/
      - web/src/lib/schemas/
      - web/src/lib/shell/
      - web/src/lib/types/
      - web/src/lib/utils/
  react:
    paths:
      - web/src/components/
      - web/src/pages/
      - web/src/hooks/
      - web/src/utils/

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  core:
    paths:
      - src/core/
      - src/adapters/
      - src/parsers/
      - src/schemas/
      - src/shell/
      - src/types/
      - src/utils/
  react:
    paths:
      - web/src/

fix: Allow reusing existing server in E2E tests
  playwright.config.ts
Due: none

fix: Update E2E tests and add missing data-testids
  test/e2e/initial-sync.spec.ts
  test/e2e/sync-conflict.spec.ts
  test/e2e/test-helpers.ts
  web/src/components/Dialogs/SyncConflictDialog.tsx
  web/src/components/ui/ErrorNotification.tsx
  web/src/components/ui/SyncStatus.tsx
  web/src/components/ui/SyncStatusWithActions.tsx
Due: react

fix: Fix E2E test strict mode errors and selectors
  .claude/settings.local.json
  test/e2e/initial-sync.spec.ts
Due: none

fix: Fix E2E test environment and skip outdated sync-conflict tests
  .claude/settings.local.json
  package.json
  playwright.config.ts
  test/e2e/sync-conflict.spec.ts
  vite.web.config.ts
Due: none

fix: Remove WebKit from CI E2E test matrix
  .github/workflows/ci.yml
Due: none

fix: Simplify playwright config to fix CI webServer timeout
  playwright.config.ts
Due: none

fix: Fix E2E test failures
  test/e2e/cross-tab-sync.spec.ts
  test/e2e/error-handling.spec.ts
Due: none

fix: Update E2E tests for error handling to match current implementation
  test/e2e/error-handling.spec.ts
  test/e2e/test-helpers.ts
Due: none

fix: Improve E2E error-handling tests to work with new architecture
  .claude/settings.local.json
  test/e2e/error-handling.spec.ts
Due: none

fix: Remove BroadcastChannel and fix test timeouts
  .claude/settings.local.json
  .github/workflows/ci.yml
  package.json
  playwright.config.ts
  test/e2e/auto-sync.spec.ts
  test/e2e/cross-tab-sync.spec.ts
  test/e2e/dialog-operations.spec.ts
  test/e2e/error-handling.spec.ts
  test/e2e/initial-sync.spec.ts
  test/e2e/test-helpers.ts
  vitest.config.ts
  web/src/lib/context/providers/useAuthContextProvider.ts
  web/src/lib/context/providers/useBookmarkContextProvider.ts
  web/test/unit/autosync-pause-during-conflict.test.tsx
  web/test/unit/use-bookmark-context-provider-auto-sync.test.ts
  web/test/unit/use-bookmark-context-provider-basic.test.ts
  web/test/unit/use-bookmark-context-provider-core.test.ts
  web/test/unit/use-bookmark-context-provider-import-export.test.ts
  web/test/unit/use-bookmark-context-provider-operations.test.ts
  web/test/unit/use-bookmark-context-provider-remote-sync.test.ts
  web/test/unit/use-bookmark-context-provider-state.test.ts
  web/test/unit/use-bookmark-context-provider-sync.test.ts
  web/test/unit/use-bookmark-context-provider.test.ts
Due: react

refactor: Consolidate all tests under web/test directory
  .gitignore
  package.json
  playwright.config.ts
  test/utils/react-test-utils.tsx
  web/test/components/Button.test.tsx
  web/test/e2e/auto-sync.spec.ts
  web/test/e2e/bookmark-operations.spec.ts
  web/test/e2e/cross-tab-sync.spec.ts
  web/test/e2e/dialog-operations.spec.ts
  web/test/e2e/error-handling.spec.ts
  web/test/e2e/initial-sync.spec.ts
  web/test/e2e/remote-change-detection.spec.ts
  web/test/e2e/sync-conflict.spec.ts
  web/test/e2e/test-helpers.ts
  web/test/e2e/welcome.spec.ts
  web/test/pages/SettingsPage.test.tsx
  web/test/pages/WelcomePage.test.tsx
  web/test/setup-mocks.ts
  web/test/setup-react.ts
  web/test/setup.ts
  web/test/unit/core/bookmark.test.ts
  web/test/unit/core/bundle.test.ts
  web/test/unit/core/category.test.ts
  web/test/unit/core/root.test.ts
  web/test/unit/utils/localStorage-sync.test.ts
Due: none

test: Remove duplicate test files and fix vitest config
  .claude/settings.local.json
  vitest.config.ts
  web/test/unit/entity-helpers-basic.test.ts
  web/test/unit/metadata-compare-generic.test.ts
  web/test/unit/metadata-compare.test.ts
Due: none

fix: Add missing test:react script for CI
  package.json
Due: none

fix: Update E2E test import paths after directory consolidation
  web/test/e2e/auto-sync.spec.ts
  web/test/e2e/cross-tab-sync.spec.ts
  web/test/e2e/error-handling.spec.ts
  web/test/e2e/initial-sync.spec.ts
  web/test/e2e/sync-conflict.spec.ts
Due: none

test: Consolidate duplicate test files
  web/test/pages/SettingsPage.test.tsx
  web/test/unit/bookmark-service-basic.test.ts
  web/test/unit/bookmark-service-dirty-tracking.test.ts
  web/test/unit/bookmark-service-remote-changes.test.ts
  web/test/unit/bookmark-service.test.ts
  web/test/unit/settings-page-basic.test.tsx
  web/test/unit/sync-status-auto-sync.test.tsx
  web/test/unit/sync-status-autosync-display.test.tsx
  web/test/unit/sync-status-with-actions.test.tsx
  web/test/unit/sync-status.test.tsx
Due: none

chore: Release v1.0.1
  package.json
Due: none

fix: Allow updating existing releases in manual release workflow
  .github/workflows/manual-release.yml
Due: none

fix: Chrome extension build structure and version
  .claude/settings.local.json
  extension/icons/icon128.png
  extension/icons/icon16.png
  extension/icons/icon32.png
  extension/icons/icon48.png
  extension/manifest.json
  vite.extension.config.ts
Due: none

fix: Ensure consistent timestamps in addBookmarkToTree
  web/src/lib/utils/metadata.ts
Due: core, react

fix: Adjust timing expectation in withRetry test
  web/test/unit/errors.test.ts
Due: none

fix: Fix flaky tests for timestamp consistency and timing
  web/src/lib/utils/metadata.ts
  web/test/unit/errors.test.ts
Due: core, react

fix: Resolve CSP errors in Chrome extension
  extension/newtab.html
  extension/newtab.js
  vite.extension.config.ts
Due: none

chore: Bump version to 1.0.2
  extension/manifest.json
  package.json
Due: none

feat: Add drag-and-drop reordering for categories, bundles, and cross-bundle bookmark moves
  web/src/components/dnd/DraggableBookmark.tsx
  web/src/components/dnd/DraggableCategory.tsx
  web/src/components/dnd/DroppableBookmarkGrid.tsx
  web/src/components/dnd/DroppableBundleContainer.tsx
  web/src/components/dnd/DroppableCategories.tsx
  web/src/components/dnd/index.ts
  web/src/lib/adapters/bookmark-service.ts
  web/src/lib/context/BookmarkContext.ts
  web/src/lib/context/providers/useBookmarkContextProvider.ts
  web/src/lib/core/root.ts
  web/src/lib/utils/dnd-helpers.ts
  web/src/pages/BookmarksPage.tsx
  web/test/unit/bookmarks-page.test.tsx
Due: core, react

feat: Add exclusive sync control to prevent operation conflicts
  web/src/lib/context/providers/useBookmarkContextProvider.ts
Due: react

fix: Fix nested sync lock issue by creating internal functions
  web/src/lib/context/providers/useBookmarkContextProvider.ts
Due: react

fix: Remove unused variables in dnd-helpers.ts to fix ESLint errors
  web/src/lib/utils/dnd-helpers.ts
Due: core, react

feat: Add detailed etag logging to track conflict issues
  web/src/lib/context/providers/useBookmarkContextProvider.ts
  web/src/lib/repositories/fetch-gist-repository.ts
Due: react

fix: Improve sync exclusion control to prevent race conditions
  web/src/lib/context/providers/useBookmarkContextProvider.ts
Due: react

fix: Wrap all state-modifying operations with sync lock to prevent race conditions
  web/src/lib/context/providers/useBookmarkContextProvider.ts
Due: react

chore: Remove debug logging for sync and etag tracking
  web/src/lib/context/providers/useBookmarkContextProvider.ts
  web/src/lib/repositories/fetch-gist-repository.ts
Due: react

fix: Add hasUnresolvedConflict check to triggerAutoSyncIfEnabled
  web/src/lib/context/providers/useBookmarkContextProvider.ts
  web/test/unit/autosync-pause-during-conflict.test.tsx
Due: react

fix: Fix mobile display issue after login
  web/src/components/Layout/Footer.tsx
  web/src/components/Layout/Header.tsx
  web/src/components/Layout/Layout.tsx
  web/src/components/Layout/MobileNavigation.tsx
  web/src/components/Layout/Navigation.tsx
  web/src/hooks/useMobileMenu.ts
  web/src/pages/BookmarksPage.tsx
  web/src/pages/WelcomePage.tsx
Due: react

feat: Remove V2 indicator from Settings page
  web/src/pages/SettingsPage.tsx
  web/src/pages/WelcomePage.tsx
  web/test/pages/WelcomePage.test.tsx
  web/test/unit/settings-page.test.tsx
Due: react
