Repository ar90n/bookmarkdown: changes, and which Codecov flags are due for each by the changed paths.
All: core, react

Fix Cloudflare Pages deployment command error
  .github/workflows/deploy.yml
Due: none

Update Cloudflare Pages deployment configuration
  .github/workflows/deploy.yml
Due: none

Migrate from Cloudflare Pages to Workers Static Assets
  .github/workflows/deploy.yml
  web/src/worker.ts
  web/wrangler.toml
Due: react

Fix Workers deployment: disable custom domain and health check
  .github/workflows/deploy.yml
  web/wrangler.toml
Due: none

Enable custom domain with correct Workers syntax
  .github/workflows/deploy.yml
  web/wrangler.toml
Due: none

Fix custom domain settings
  web/wrangler.toml
Due: none

Fix OAuth HTTPS redirect and token persistence
  github-oauth/src/index.ts
  github-oauth/wrangler.toml
  web/src/worker.ts
  web/wrangler.toml
Due: react

Fix CI failures: setup Codecov and make external services optional
  .github/workflows/ci.yml
  codecov.yml
  vitest.config.ts
Due: none

Simplify Context architecture to embrace imperative nature
  src/browser.ts
  src/context/AppContext.ts
  src/context/AuthContext.ts
  src/context/BookmarkContext.ts
  src/context/index.ts
  src/context/providers/index.ts
  src/context/providers/useAppContextProvider.ts
  src/context/providers/useAuthContextProvider.ts
  src/context/providers/useBookmarkContextProvider.ts
  web/src/components/Layout/Header.tsx
  web/src/contexts/AppProvider.tsx
  web/src/pages/BookmarksPage.tsx
  web/src/pages/SettingsPage.tsx
Due: react

Implement card-based bookmark layout and comprehensive UI improvements
  github-oauth/wrangler.toml
  src/context/BookmarkContext.ts
  src/context/providers/useAppContextProvider.ts
  src/context/providers/useBookmarkContextProvider.ts
  src/parsers/json-to-markdown.ts
  src/shell/gist-io.ts
  web/src/App.tsx
  web/src/components/Auth/RootRedirect.tsx
  web/src/components/Dialogs/BookmarkDialog.tsx
  web/src/components/Dialogs/BundleDialog.tsx
  web/src/components/Dialogs/CategoryDialog.tsx
  web/src/components/Dialogs/CreateGistDialog.tsx
  web/src/components/Dialogs/ExportDialog.tsx
  web/src/components/Dialogs/ImportDialog.tsx
  web/src/components/Layout/Footer.tsx
  web/src/components/Layout/Header.tsx
  web/src/components/Layout/Layout.tsx
  web/src/components/Layout/Navigation.tsx
  web/src/contexts/AppProvider.tsx
  web/src/contexts/DialogContext.tsx
  web/src/pages/BookmarksPage.tsx
  web/src/pages/HomePage.tsx
  web/src/pages/LoginPage.tsx
  web/src/pages/SettingsPage.tsx
  web/src/pages/WelcomePage.tsx
Due: core, react

Fix CI failures: resolve TypeScript and ESLint errors
  src/context/providers/useBookmarkContextProvider.ts
  src/parsers/json-to-markdown.ts
Due: core

Update README: focus on web application usage
  README.md
Due: none

Implement timestamp-based sync with category-level conflict resolution
  .gitignore
  src/adapters/bookmark-service.ts
  src/context/BookmarkContext.ts
  src/context/providers/useBookmarkContextProvider.ts
  src/core/category.ts
  src/core/root.ts
  src/parsers/json-to-markdown.ts
  src/parsers/markdown-to-json.ts
  src/shell/sync.ts
  src/types/bookmark.ts
  src/utils/index.ts
  src/utils/merge.ts
  src/utils/metadata.ts
  web/src/components/Dialogs/ConflictResolutionDialog.tsx
Due: core, react

feat: Implement drag-and-drop and sync functionality
  CLAUDE.md
  package-lock.json
  package.json
  src/adapters/bookmark-service.ts
  src/context/BookmarkContext.ts
  src/context/providers/useBookmarkContextProvider.ts
  src/core/bookmark.ts
  src/core/root.ts
  src/parsers/markdown-to-json.ts
  src/schemas/index.ts
  src/shell/sync.ts
  web/src/components/dnd/DnDProvider.tsx
  web/src/components/dnd/DraggableBookmark.tsx
  web/src/components/dnd/DraggableBundle.tsx
  web/src/components/dnd/DroppableBundle.tsx
  web/src/components/dnd/DroppableCategory.tsx
  web/src/components/dnd/index.ts
  web/src/pages/BookmarksPage.tsx
Due: core, react

feat: Add tab import functionality and custom dialogs
  extension.tar
  extension/background.js
  extension/content.js
  extension/manifest.json
  extension/popup.html
  extension/popup.js
  web/app.ts
  web/services/BookmarkService.ts
  web/src/components/Layout/Navigation.tsx
  web/src/components/ui/ConfirmDialog.tsx
  web/src/components/ui/Toast.tsx
  web/src/contexts/DialogContext.tsx
  web/src/hooks/useChromeExtension.ts
  web/src/hooks/useToast.ts
  web/src/pages/BookmarksPage.tsx
  web/src/pages/SettingsPage.tsx
Due: react

feat: Implement mobile support and simplify Chrome extension
  extension/newtab.html
  extension/scripts/bookmark-app-context.js
  extension/scripts/bookmark-service.js
  extension/scripts/newtab.js
  extension/scripts/popup.js
  extension/styles/newtab.css
  web/src/components/dnd/DnDProvider.tsx
  web/src/components/ui/MobileMenu.tsx
  web/src/components/ui/MoveModal.tsx
  web/src/hooks/useMobile.ts
  web/src/pages/BookmarksPage.tsx
Due: react

refactor: Clean up codebase and fix tests
  test/adapters/bookmark-service.test.ts
  test/core/bundle.test.ts
  test/core/category.test.ts
  test/core/root.test.ts
  test/e2e/homepage.spec.ts
  test/e2e/welcome.spec.ts
  test/utils/merge.test.ts
  web/src/lib/adapters/bookmark-service.ts
  web/src/lib/context/BookmarkContext.ts
  web/src/lib/context/providers/useAppContextProvider.ts
  web/src/lib/context/providers/useBookmarkContextProvider.ts
  web/src/lib/core/bundle.ts
  web/src/lib/core/category.ts
  web/src/lib/core/root.ts
  web/src/lib/index.ts
  web/src/lib/shell/sync.ts
  web/src/lib/utils/merge.ts
  web/src/pages/BookmarksPage.tsx
Due: react

fix: Fix TypeScript errors in merge.ts
  web/src/lib/utils/merge.ts
Due: react

refactor: Replace @octokit/rest with fetch API implementation
  package-lock.json
  package.json
  web/src/lib/shell/gist-io-fetch.ts
  web/src/lib/shell/gist-io.ts
Due: react

fix: Fix E2E test selectors and add mobile device support
  .github/workflows/ci.yml
  test/e2e/bookmark-operations.spec.ts
Due: none

feat: Implement drag-and-drop and sync functionality
  package-lock.json
  package.json
  src/adapters/bookmark-service.ts
  src/context/BookmarkContext.ts
  src/context/providers/useBookmarkContextProvider.ts
  src/core/bookmark.ts
  src/core/root.ts
  src/parsers/markdown-to-json.ts
  src/schemas/index.ts
  src/shell/sync.ts
  web/src/components/dnd/DnDProvider.tsx
  web/src/components/dnd/DraggableBookmark.tsx
  web/src/components/dnd/DraggableBundle.tsx
  web/src/components/dnd/DroppableBundle.tsx
  web/src/components/dnd/DroppableCategory.tsx
  web/src/components/dnd/index.ts
  web/src/pages/BookmarksPage.tsx
Due: core, react

docs: Update README with current features and test information
  README.md
  package-lock.json
  package.json
Due: none

fix: Fix dialog form submission and prevent bundle duplication
  test/e2e/dialog-operations.spec.ts
  web/src/components/Dialogs/BookmarkDialog.tsx
  web/src/components/Dialogs/BundleDialog.tsx
  web/src/components/Dialogs/CategoryDialog.tsx
  web/src/components/UI/BaseDialog.tsx
  web/src/hooks/useAsyncOperation.ts
  web/src/hooks/useDialogForm.ts
  web/src/lib/core/category.ts
  web/src/utils/asyncOperation.ts
  web/src/utils/entityHelpers.ts
  web/src/utils/errors.ts
  web/src/utils/validation.ts
Due: react

fix: Add duplicate prevention to moveBookmarkToBundle
  web/src/lib/core/root.ts
Due: react

Path conditions:
  core: any of: src/core/, src/adapters/, src/parsers/, src/schemas/, src/shell/, src/types/, src/utils/
  react: any of: web/src/
